@model Binel.Models.DonatePost

<h1>@Model.Title</h1>

<p>@Model.DonateText</p>
<p>Total Donate: @Model.TotalDonate</p>

<!-- Medya dosyalarını göster -->
@foreach (var file in Model.Files)
{
    <img src="@file.FileUrl1" alt="Media" />
}
