/* profile_styles.css */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
}

h1, h2 {
    color: #343a40;
}

.container {
    margin-top: 20px;
}

.img-thumbnail {
    margin-right: 10px;
}

.d-flex {
    border: 1px solid #dee2e6;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

h3 a {
    color: #007bff;
    text-decoration: none;
}

    h3 a:hover {
        text-decoration: underline;
    }
