@{
    Layout = "_Layout1";
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bağış Başarılı</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/donate_success_styles.css">
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <div class="container mt-4 text-center">
        <h1 class="display-4">Bağış Başarılı!</h1>
        <p class="lead">"<strong>@ViewBag.DonateTitle</strong>" için yaptığınız bağış başarıyla tamamlandı.</p>
        <p>Katkınız için teşekkür ederiz.</p>
        <p><a href="/Feed/Search" class="btn btn-primary btn-lg">Akışa Dön</a></p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
